venv/
app/venv/
__pycache__/
app/__pycache__/
*.pyc
app/uploads/
app/.env
app/cert.pem
app/key.pem
# John the Ripper temp files
john-bleeding-jumbo/run/*.pot
john-bleeding-jumbo/run/*.rec
john-bleeding-jumbo/run/*.log
john-bleeding-jumbo/run/john.local.conf
