# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=pdfcreck
DB_USER=pdfcreck
DB_PASSWORD=root

# Security
SECRET_KEY=pdf-crecker-super-secret-key-2024

# Server Configuration
BASE_URL=http://localhost:8000
